body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.container {
    box-sizing: border-box;
    margin: auto;
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
}

.box-content,
.key {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row,
.number,
.operator {
    display: flex;
    justify-content: center;
    width: 400px;
}

.box {
    width: 50px;
    height: 50px;
    border: 2px solid #E2E8F0;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.num,
.op {
    width: 31.4px;
    height: 36.4px;
    border: 1px solid #E2E8F0;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2E8F0;
    color: rgb(48, 48, 48);
    pointer-events: all;
    cursor: pointer;
}

.box,
.num,
.op {
    border-radius: 3px;
}

.del,
.en {
    width: 80px;
}

.keyboard-content {
    margin-top: 50px;
}

.box.right,
.num.right,
.op.right {
    background-color: #22C55E;
    border-color: #22C55E;
    color: #fff;
}

.box.miss,
.num.miss,
.op.miss {
    background-color: #EAB308;
    border-color: #EAB308;
    color: #fff;
}

.box.wrong,
.num.wrong,
.op.wrong {
    background-color: #94A3B8;
    border-color: #94A3B8;
    color: #fff;
    pointer-events: none;
}

.filled {
    border-color: rgb(48, 48, 48);
    transition: all 0.1s ease-in-out;
}

.filled.fill-animate {
    width: 54px;
    height: 54px;
    margin: 0px;
}